/* New code starts here */
/* Step 1 - flexbox module (primary) layout */
.container-primary-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, section, footer{
    height: 40px;
    margin-bottom: 10px;
}


/* change all paragraphs font to arial */
header, footer, div{
    border: 1px solid black;
}


/* removing all tempapory
p{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: white;
    margin: 0px;
    padding:0px;
}

#logo{
    float: left;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 60px;
    box-shadow: 2px 2px 12px rgba(red, green, blue, alpha);  
    padding: 0px 5%;
}

.navbar ul li a{
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 700;
}

/*
header footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    padding-bottom: 30px;
    background: #ccc;
    text-align: right;
}
*/

/* Centre all content in the middle */
/*.container-centre{
    border: 10px;
    max-width: 700px;
    margin:auto;
} */

/*
.theme-container{
    background-color: white;
    color: black;
}

/* This section is styling for main-content */

/*
.main-content{
    border: orange 4px solid;
    padding: 10x;
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
}

/*body{
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}*/

/*
a{
    background-color: orange;
    color: white;
    font-size: 15px;    
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px 30px 5px 30px;
}

body{
    color:black;
}

.about-content img{
    float: left;
    border-radius: 50%;
}

/* This section is styling for footer */


/*
footer{
    background-color: #ccc;
    padding-left: 20px;;
    text-align: center;
}

footer ul{
    display: flex;
}

footer li{
    display: auto;
}

